{# src/OC/PlatformBundle/Resources/views/Advert/contact.html.twig #}

<html>
  <body>


  <strong>  Mes contacts </strong>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas harum nostrum veniam recusandae autem rem facere, ea dolore deleniti? Blanditiis ab quas ea accusamus totam temporibus, reiciendis unde quia rem?    
  </body>
</html>

