{# src/OC/PlatformBundle/Resources/views/Advert/contact.html.twig #}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Contact - OC Plateforme</title>
    </head>
  <body>
  <strong>  Mes contacts </strong>
  </body>
</html>

